.ui.fixed.top.menu {
  justify-content: center;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ui.fixed.top.menu .item {
    color: #27ae60;
    padding: 20px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ui.fixed.top.menu .item:hover {
    background-color: #36d278;
    color: #f7fdff;
}

.ui.fixed.top.menu .item.logo {
    background-color: #43d580;
    color: #f7fdff;
    font-size: 20px;
}

.ui.input input.green:focus {
  border-color: #21ba45;
}

.ui.comments .comment.right .avatar {
  float: right;
}

.ui.comments .comment.right .content {
  margin-right: 3.5em;
}

.ui.comments .comment.right .metadata {
  margin-right: 0.5em;
}
